* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  /* width: 100vw;
  min-height: 812px;
  height: 100vh; */
  /* width: 375px;
  height: 812px; */
}

@media (min-width: 320px) {
  main {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  main {
    width: 1024px;
    height: 100vh;
  }
}

main a:hover {
  filter: invert(39%) sepia(25%) saturate(2071%) hue-rotate(322deg)
    brightness(117%) contrast(180%);
  transition: 0.5s;
}

.container {
  max-width: 250px;
  margin: 0px auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: lightgray;
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

li a img {
  /* border: solid red 1px; */
  border-radius: 4px;
}

li a:hover {
  filter: invert(39%) sepia(25%) saturate(2071%) hue-rotate(322deg)
    brightness(117%) contrast(180%);
}
